$mirror-bg: linear-gradient(180deg, #F1F1F1 0%, #EEECED 100%);

$table-one-bgcolor: linear-gradient(215.5deg, #E5E4E2 20.82%, #EBEBEB 58.55%, #D3CFCC 90.48%);

$stand-bgcolor: linear-gradient(180deg, #DBDBDB 0%, #EDEEF0 59.9%, #F3F4F8 100%);